@model Model.Orgnizations

@{
    ViewBag.Title = "Edit";
}
<style>
/*
#popup{
    position: absolute;display:none; z-index:3000; background-color:#FFF; left: 601px; top: 217px; height: 150px; width: 217px;line-height:94px;text-align:center;
    border: 1px solid #03F;
}
#embedding{
    position: absolute; background-color: #36F; top: 94px;height:56px; width:217px;line-height:56px;text-align:center;text-shadow:none;
}
*/
#popup{
    position:absolute;display:none; z-index:3000; top:25%; left:10%; background-color:gray; height: 50%; width: 80%;line-height:94px;text-align:center;
}
#embedding{
    position: absolute; top:0px;left:97%;text-shadow:none;
}
.a-show{
  text-decoration:none;
  font-family:"微软雅黑";
  font-size:18px;
  color:#FFF;
}
</style>

<script>

    function hidePop()
    {
            if ($(this).text() == '确定') {
                alert($(this).text());
            } else {
                $('#loadingDiv').css('display', 'none');
                $('#popup').slideUp();
            }
        }
  
    //接管表单的提交新闻
    $("form").on("submit", function () {
      
        var url = this.action;   //可以直接取到表单的action
        var formData = $(this).serialize();
        $.post(url, formData,
            function (data) {
                //返回成功，可以做一个其他事情
                // console.log(data);
                if (data.Code == 0) {
                    //alert("test");
                    //设置span内的返回文本
                    $("#text").text(data.Message);
                    //显示
                    $('#loadingDiv').css('display', 'block');
                    //Jquery事件，确保都能成功，部分JQuery Mobile事件在手机上会不成功。
                    $('#popup').slideDown();

                    
                }
                else { location.href = "../Index";}
            }, 'json');

        //阻止表单默认提交行为
        return false
    })
</script>


<h2>Edit</h2>

<div id="loadingDiv" style="position:fixed;display:none;z-index:2000;top:0px;left:0px;width:100%;height:100%;background-color:gray;opacity:0.5;"></div>
<div id="popup" data-theme="a">
    <span id="text" style="color:white;"></span>
    <a style="position:absolute;top:-17px;left:-17px;" href="#" class="ui-btn ui-btn-a ui-corner-all ui-icon-delete ui-btn-icon-notext" onclick="hidePop()">图标</a>
    <div id="embedding" data-theme="b">
        @*<a onclick="testclick(this)">确定</a>
        <a onclick="testclick(this)">取消</a>*@
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div id="Tedit" class="form-horizontal">
        <h4>Orgnizations</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.OrgNo)
       

        <div class="form-group">
            @Html.LabelFor(model => model.OrgName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrgName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrgName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrgDuty, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrgDuty, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrgDuty, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrgDes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrgDes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrgDes, "", new { @class = "text-danger" })
            </div>
        </div>

       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
