@model IEnumerable<Model.Orgnizations>

@{
    ViewBag.Title = "Index";
}

<script>
   
    //$(document).on("pageinit", function () {
            
    //    //$("#testtt").trigger("click")//模拟出发按键
    //    //alert("pagebeforecreate 事件触发!")
    //    //$("#myPopup").popup('open')//调用带有弹出层的弹出方法。close为关闭
    //});
    

</script>

<h2>组织机构信息</h2>


<p>
    @Html.ActionLink("新建", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrgName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrgDuty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrgDes)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrgName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrgDuty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrgDes)
            </td>
            <td>
                @Html.ActionLink("修改", "Edit", new { id = item.OrgNo }) |
                @Html.ActionLink("详细", "Details", new { id = item.OrgNo }) |
                @Html.ActionLink("删除", "Delete", new { id = item.OrgNo })
            </td>
        </tr>
    
}

</table>
