@using BYLawEnforcement.Areas.BaseManage.Models;
@using LE.Common;
@model Model.Departments
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/BaseManage/Views/Shared/_Layout_M.cshtml";
    //var _list = new List<SelectListItem>();
    OrgnizationManage _orgMg = new OrgnizationManage();
    Paging<Model.Orgnizations> _page = new Paging<Model.Orgnizations>();
    _orgMg.FindPageList(_page,null);
    var _slist = new SelectList(_page.Items, "OrgNo", "OrgName");

}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Departments</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DepartName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DepartName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DepartName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrgNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.OrgNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OrgNo, "", new { @class = "text-danger" })*@
                @Html.DropDownListFor(model => model.OrgNo,_slist,"请选择")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
