@model Model.Departments

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/BaseManage/Views/Shared/_Layout_M.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Departments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrgNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrgNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentFlag)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
