@using BYLawEnforcement.Areas.BaseManage.Models;
@model IEnumerable<Model.Departments>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BaseManage/Views/Shared/_Layout_M.cshtml";
    //OrgnizationManage _orgMg = new OrgnizationManage();
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartName)
        </th>
        <th>
            @Html.DisplayNameFor(model =>model.OrgNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentFlag)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DepartName)
        </td>
        <td>
            @*@{ 
               
                item.Org=_orgMg.Find(item.OrgNo);
                
                <span>@item.Org.OrgName</span>
            }*@
            @Html.DisplayFor(modelItem => item.Org.OrgName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DepartNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.DepartNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DepartNo })
        </td>
    </tr>
}

</table>
